# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyCGn-gMO1jl8mwd_r72KLp0GCpM8Z5Roxs"
# APP_URL: The URL where this applet is hosted.
APP_URL=

# OPENAI_API_KEY: The secret key for OpenAI API integrations.
OPENAI_API_KEY=
